@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Readex Pro';
}

.dataframe {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.dataframe thead tr {
    background-color: #c7dfee;
    color: #2e2929;
    text-align: center;
}

.dataframe th,
.dataframe td {
    padding: 12px 15px;
}

.dataframe tbody tr {
    border-bottom: 1px solid #dddddd;
}

.dataframe tbody tr:nth-of-type(even) {
    color: #000000;
    background-color: #ffffff;
}

.dataframe tbody tr:last-of-type {
    border-bottom: 2px solid #4E6E81;
}